
  <div  *ngIf="vrData$ | async as vrData">
    <app-banner [bannerData]="vrData.banner"></app-banner>

    <section class="py-5 my-5">
      <div class="container">
        <div class="row g-3">
          <div class="col-lg-6">
            <div>
              <img [src]="vrData.image" [alt]="vrData.description" class="w-100 rounded-3">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ps-3">
             <h5 class="fw-bold text-capitalize h4 mb-4">{{vrData.title}}</h5>
             <ul class="list-unstyled">
              <li *ngFor="let description of vrData.description">
                <div>
                  <i class="fa fa-check text-success me-2"></i>
                  <span class="text-capitalize fw-bold">{{description.text}}</span>
                </div>
                <p class="text-capitalize ms-4 mb-2">{{description.details}}</p>
              </li>
             </ul>
            </div>
          </div>
        </div>

        <div class="row g-3 my-5">
          <div class="col-lg-6" *ngFor="let video of vrData.videos; let i = index">
            <div class="video-wrapper position-relative">
              <video 
                [src]="video.src" 
                class="w-100 rounded-3"
                #videoElement
                preload="metadata"
                playsinline
                muted
                loop
                (mouseenter)="onVideoHover(i, videoElement)"
                (mouseleave)="onVideoLeave(videoElement)"
              ></video>
              <p 
                class="video-caption text-capitalize ms-4 mb-2 fw-bold textMainColor fs-6 fs-sm-5"
                [class.show]="hoveredVideoIndex === i"
              >{{video.caption}}</p>
            </div>
          </div>
        </div>

      </div>
    </section>

  </div>