<section class="banner">
  <div class="container-fluid p-0">
    <figure class="position-relative">
      <figcaption class="position-absolute">
        <div class="text-uppercase">
          <h2 class="text-white font-lg">{{ bannerData.title }}</h2>
          <p class="text-white text-center h4">
            <span class="me-2">{{ bannerData.breadcrumb.home }}</span>
            >
            <span class="textMainColor ms-2">{{
              bannerData.breadcrumb.current
            }}</span>
          </p>
        </div>
      </figcaption>
      <!-- <div class="bannerLayer"></div> -->
    </figure>
  </div>
</section>
